*{
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}
.login-form {
    width: 300px;
    margin: 0 auto;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    margin-top: 0;
    font-size: 32px;
    color: #333;
  }
  
  .login-form form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .login-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .login-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: yellow;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .login-form button:hover {
    background-color: rgb(6, 241, 92);
  }
  .image{
    height: 500px;
    width: 300px;
    margin-left: 600px;
  }
  .submit{
    text-decoration: none;
    color: black;
  }
  