.cart{
    background-color:  rgb(6, 241, 92);
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 100px;
    margin-right: 50px;
}
.button-pri{
    background-color: yellow;
    border-radius: 5px;
    border-width: 0px;
    padding: 10px;
    gap: 10px;
    margin: 5px;
    width: 75%;

}
.button-pri:hover{
    background-color: black;
    color: white;
}
@media only screen and (max-width: 600px) {
    .cart{
        position: absolute;
        bottom: 0px;
        font-size: 5px;
        margin-top: 170px;
        width: 60px;
        position: sticky;
        top: 270px;
        margin: 0px;
    }
    .button-pri{
        font-size: 5px;
        padding: 5px;

    }
}