.cart{
    background-color:  rgb(6, 241, 92);
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 50px;
    margin-right: 50px;
}
