.check-text{
    text-align: center;
    font-size: medium;
    font: bolder;
}
.checkout-parent{
    text-align: center;
    background-color: rgb(189, 244, 244);
    margin: 0px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .checkout-parent{
        
        font-size: x-small;
    }
    .checkout-parent img{
        
        height: 200px;
        width: 400px;
    }

}