.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}
.products-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.decor{
    text-decoration: none;
    color: black;

}
.decor:hover{
    color: white;
}